pre, pre.numberSource {
  background: #fdf6e3;
  /* border: 1px solid #eee8d5; */
  --color-code-highlight-bg: #eee8d5;
}
pre code { color: #657b83; }
pre.numberSource > code.sourceCode > span > a:first-child::before {
  color: #93a1a1;
}
code span.kw { color: #859900; font-weight: normal; font-style: normal; } /* Keyword */
code span.dt { color: #b58900; font-weight: normal; font-style: normal; } /* DataType */
code span.dv { color: #2aa198; font-weight: normal; font-style: normal; } /* DecVal */
code span.bn { color: #2aa198; font-weight: normal; font-style: normal; } /* BaseN */
code span.fl { color: #2aa198; font-weight: normal; font-style: normal; } /* Float */
code span.ch { color: #2aa198; font-weight: normal; font-style: normal; } /* Char */
code span.st { color: #2aa198; font-weight: normal; font-style: normal; } /* String */
code span.co { color: #93a1a1; font-weight: normal; font-style: italic; } /* Comment */
code span.ot { color: #268bd2; font-weight: normal; font-style: normal; } /* Other */
code span.al { color: #dc322f; font-weight: normal; font-style: normal; } /* Alert */
code span.fu { color: #268bd2; font-weight: normal; font-style: normal; } /* Function */
code span.er { color: #dc322f; font-weight: normal; font-style: normal; } /* Error */
code span.wa { color: #cb4b16; font-weight: normal; font-style: italic; } /* Warning */
code span.cn { color: #2aa198; font-weight: normal; font-style: normal; } /* Constant */
code span.sc { color: #dc322f; font-weight: normal; font-style: normal; } /* SpecialChar */
code span.vs { color: #2aa198; font-weight: normal; font-style: normal; } /* VerbatimString */
code span.ss { color: #dc322f; font-weight: normal; font-style: normal; } /* SpecialString */
code span.im { color: #657b83; font-weight: normal; font-style: normal; } /* Import */
code span.va { color: #268bd2; font-weight: normal; font-style: normal; } /* Variable */
code span.cf { color: #859900; font-weight: normal; font-style: normal; } /* ControlFlow */
code span.op { color: #859900; font-weight: normal; font-style: normal; } /* Operator */
code span.bu { color: #657b83; font-weight: normal; font-style: normal; } /* BuiltIn */
code span.ex { color: #657b83; font-weight: normal; font-style: normal; } /* Extension */
code span.pp { color: #cb4b16; font-weight: normal; font-style: normal; } /* Preprocessor */
code span.at { color: #657b83; font-weight: normal; font-style: normal; } /* Attribute */
code span.do { color: #93a1a1; font-weight: normal; font-style: italic; } /* Documentation */
code span.an { color: #93a1a1; font-weight: normal; font-style: italic; } /* Annotation */
code span.cv { color: #93a1a1; font-weight: normal; font-style: italic; } /* CommentVar */
code span.in { color: #93a1a1; font-weight: normal; font-style: italic; } /* Information */
a.sourceLine::before { text-decoration: none; }
